/* ===========================
   GLOBAL STYLES
=========================== */
body{
    background:red;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;
    background:#f8fff8;
    color:#333;

}


/* ===========================
   NAVBAR
=========================== */

.navbar{

    background:rgba(0,0,0,0.35);
    backdrop-filter:blur(10px);
    transition:.4s;
    padding:15px 0;

}

.navbar-brand{

    font-size:28px;
    font-weight:700;
    color:#fff !important;

}

.nav-link{

    color:white !important;
    margin-left:25px;
    font-size:17px;
    transition:.3s;

}

.nav-link:hover{

    color:#90EE90 !important;

}

.logo-icon{

    width:34px;

    height:34px;

    margin-right:10px;

    object-fit:contain;

}

.navbar-brand{

    display:flex;

    align-items:center;

    gap:10px;

}


/* ===========================
   HERO SECTION
=========================== */

.hero{

    position:relative;

    background:url("../images/hero-bg.webp");

    background-size:cover;
    background-position:center;

    min-height:100vh;

    display:flex;
    align-items:center;
     padding-top:80px;

}

.hero-overlay{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.60);

}

.hero .container{

    position:relative;
    z-index:2;

}


/* ===========================
   HERO CONTENT
=========================== */

.hero-content{

    color:white;

}

.hero-tag{

    display:inline-flex;

    align-items:center;

    background:#2E7D32;

    color:white;

    padding:8px 18px;

    border-radius:30px;

    margin-bottom:25px;

    font-size:15px;

}

.hero-content h1{

    font-size:52px;

    font-weight:700;

    line-height:1.2;

    margin-bottom:25px;

}

.hero-content h1 span{

    color:#90EE90;

}

.hero-content p{

    font-size:20px;

    line-height:1.8;

    margin-bottom:35px;

    color:#f2f2f2;

}


/* ===========================
   BUTTONS
=========================== */

.hero-buttons{

    margin-bottom:40px;

}

.hero-buttons .btn{

    padding:15px 35px;

    border-radius:40px;

    font-size:18px;

    font-weight:600;

    display:inline-flex;

    align-items:center;

}

.hero-buttons .btn-success{

    background:#43A047;
    border:none;

}

.hero-buttons .btn-success:hover{

    background:#2E7D32;

}

.hero-buttons .btn-outline-light:hover{

    color:#2E7D32;

}


/* ===========================
   HERO STATS
=========================== */

.hero-stats{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}

.stat-box{

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(15px);

    padding:20px;

    border-radius:15px;

    min-width:140px;

    text-align:center;

}

.stat-box h3{

    color:#90EE90;

    font-size:34px;

    font-weight:700;

}

.stat-box p{

    margin:0;

    font-size:15px;

}


/* ===========================
   HERO CARD
=========================== */

.hero-card{

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(15px);

    border-radius:20px;

    padding:35px;

    color:white;

    box-shadow:0 20px 40px rgba(0,0,0,.30);

}

.hero-card h3{

    text-align:center;

    margin-bottom:35px;

    display:flex;

    align-items:center;

    justify-content:center;

}

.feature-item{

    display:flex;

    gap:18px;

    margin-bottom:28px;

    align-items:flex-start;

}

.feature-item i{

    font-size:32px;

    color:#90EE90;

}

.feature-item h5{

    margin-bottom:5px;

}

.feature-item p{

    margin:0;

    color:#eee;

    font-size:15px;

}


/* ===========================
   RESPONSIVE
=========================== */

@media(max-width:992px){

.hero{

    text-align:center;

}

.hero-content h1{

    font-size:46px;

}

.hero-card{

    margin-top:50px;

}

.hero-stats{

    justify-content:center;

}

}


@media(max-width:768px){

.hero-content h1{

    font-size:36px;

}

.hero-content p{

    font-size:17px;

}

.hero-buttons .btn{

    margin-bottom:15px;

}

}

/* ===========================
   FEATURES SECTION
=========================== */

.features{

    padding:75px 0;

    background:#f8fff8;

}

.section-title{

    text-align:center;

    margin-bottom:60px;

}

.section-title h2{

    font-size:34px;

    font-weight:700;

    color:#1B5E20;

}

.section-title p{

    max-width:650px;

    margin:15px auto;

    color:#666;

    font-size:18px;

}

.feature-box{

    background:white;

    border-radius:16px;

     padding:22px 18px;

    text-align:center;

     box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:0.3s;

    margin-bottom:20px;

    height:100%;

}

.feature-box:hover{

    transform:translateY(-12px);

    box-shadow:0 20px 45px rgba(0,0,0,.15);

}

.feature-box i{

    font-size:50px;

    color:#43A047;

    margin-bottom:20px;

}

.feature-box h4{

    font-size:22px;

    font-weight:600;

    margin-bottom:12px;

    color:#222;

}

.feature-box p{

    color:#666;

    line-height:1.7;

}

/* ===========================
   HOW IT WORKS
=========================== */

.how-it-works{

    padding:50px 0;

    background:#eef9ef;

}

.step-card{

    background:white;

    padding:30px 20px;

    border-radius:18px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;

    position:relative;

    margin-top:30px;

}

.step-card:hover{

    transform:translateY(-10px);

}

.step-number{

    position:absolute;

    top:-18px;
    left:50%;

    transform:translateX(-50%);

    width:40px;
    height:40px;

    background:#43A047;

    color:white;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:bold;

}

.step-card i{

    font-size:42px;

    color:#43A047;

    margin:20px 0;

}

.step-card h4{

    font-size:20px;

    font-weight:600;

    margin-bottom:12px;

    color:#222;

}

.step-card p{

    font-size:15px;

    color:#666;

}

/* ===========================
   PARAMETERS
=========================== */

.parameters{

    padding:60px 0;

    background:white;

}

.parameter-card{

    background:#f8fff8;

    border-radius:18px;

    padding:25px;

    text-align:center;

    transition:.3s;

    box-shadow:0 8px 18px rgba(0,0,0,.08);

}

.parameter-card:hover{

    transform:translateY(-8px);

}

.parameter-card img{

    width:55px;

    height:55px;

    margin-bottom:15px;

}

.parameter-card h5{

    font-size:18px;

    font-weight:600;

}

.parameter-card svg{

    width:55px;

    height:55px;

    margin-bottom:15px;

}


/*=========================
        FOOTER
=========================*/

.footer{

    background:#52362e;

    color:#fff;

    padding:50px 0 20px;

}

.footer h3{

    font-size:30px;

    font-weight:700;

    margin-bottom:15px;

    display:flex;

    align-items:center;

}

.footer h5{

    color:#9CCC65;

    margin-bottom:18px;

    font-size:22px;

}

.footer p{

    color:#ddd;

    line-height:1.8;

    font-size:15px;

    display:flex;

    align-items:center;

}

.footer ul{

    list-style:none;

    padding:0;

}

.footer ul li{

    margin-bottom:10px;

}

.footer ul li a{

    color:#ddd;

    text-decoration:none;

    transition:.3s;

}

.footer ul li a:hover{

    color:#9CCC65;

    padding-left:6px;

}

.footer hr{

    border-color:rgba(255,255,255,.2);

    margin:30px 0 15px;

}

.copyright{

    text-align:center;

    color:#bbb;

    font-size:14px;

    margin:0;

}

/* ===========================
   SVG ICON SIZING 
=========================== */

.logo-icon{

    width:30px;

    height:30px;

    margin-right:8px;

}

.tag-icon{

    width:18px;

    height:18px;

    margin-right:6px;

}

.btn-icon{

    width:18px;

    height:18px;

    margin-right:6px;

}

.footer-logo-icon{

    width:28px;

    height:28px;

    margin-right:8px;

}

.footer-inline-icon{

    width:16px;

    height:16px;

    margin-right:6px;

}

/* ===========================
   ABOUT HERO
=========================== */

.about-hero{

    position:relative;

    min-height:75vh;

    display:flex;

    align-items:center;

    justify-content:center;

    padding-top:30px;

    background:
        linear-gradient(rgba(0,0,0,.72),
                        rgba(0,0,0,.72)),
        url("../images/about-bg.webp");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

}

.about-overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(to right,
                rgba(46,125,50,.05),
                rgba(255,255,255,0));

}

.about-hero .container{

    position:relative;

    z-index:2;

}

.about-content h1{

    font-size:58px;

    font-weight:800;

    color:#fff;

    line-height:1.15;

    margin:25px 0;

}

.about-content h1 span{

    color:#43A047;

}

.about-content p{

    font-size:20px;

    color:#f1f1f1;

    line-height:1.8;

    max-width:700px;

    margin:0 auto 35px;

}
.about-image{

    text-align:center;

}

.about-image img{

    width:90%;

    border-radius:20px;

    box-shadow:0 20px 45px rgba(0,0,0,.15);

}

@media(max-width:992px){

.about-content{

    text-align:center;

    max-width:850px;

    margin:auto;

    transform: translateY(-30px);

}

.about-image{

    margin-top:50px;

}

.about-content h1{

    font-size:44px;

}

}

@media(max-width:768px){

.about-content h1{

    font-size:34px;

}

.about-content p{

    font-size:17px;

}

}

/*==========================
    ABOUT PROJECT
==========================*/

.about-project{

    padding:75px 0;

    background:#ffffff;

}

.project-image{

    text-align:center;

}

.project-image img{

    width:90%;

    border-radius:20px;

    box-shadow:0 18px 40px rgba(0,0,0,.12);

    transition:.4s;

}

.project-image img:hover{

    transform:scale(1.03);

}

.project-content h3{

    font-size:30px;

    font-weight:600;

    color:#1B5E20;

    margin-bottom:20px;

    line-height:1.3;

}

.project-content p{

    font-size:17px;

    color:#555;

    line-height:1.9;

    margin-bottom:18px;

}

@media(max-width:992px){

.project-content{

    margin-top:40px;

    text-align:center;

}

.project-image img{

    width:100%;

}

}

/*==========================
    MISSION & VISION
==========================*/

.mission-vision{

    padding:75px 0;

    background:#eef9ef;

}

.mv-card{

    background:#fff;

    border-radius:20px;

    padding:40px 35px;

    text-align:center;

    height:100%;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;

}

.mv-card:hover{

    transform:translateY(-10px);

    box-shadow:0 18px 40px rgba(0,0,0,.15);

}

.mv-icon{

    margin-bottom:25px;

}

.mv-icon img{

    width:70px;

    height:70px;

}

.mv-card h3{

    font-size:28px;

    font-weight:700;

    color:#1B5E20;

    margin-bottom:20px;

}

.mv-card p{

    color:#666;

    line-height:1.8;

    font-size:16px;

}

/*==========================
      TECHNOLOGIES
==========================*/

.technologies{

    padding:75px 0;

    background:#fff;

}

.tech-card{

    background:#fff;

    border-radius:20px;

    padding:35px 25px;

    text-align:center;

    height:100%;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;

}

.tech-card:hover{

    transform:translateY(-10px);

    box-shadow:0 18px 40px rgba(0,0,0,.15);

}

.tech-card img{

    width:70px;

    height:70px;

    margin-bottom:20px;

}

.tech-card h4{

    font-size:24px;

    font-weight:600;

    color:#1B5E20;

    margin-bottom:15px;

}

.tech-card p{

    font-size:16px;

    color:#666;

    line-height:1.8;

}

/*==========================
        BENEFITS
==========================*/

.benefits{

    padding:90px 0;

    background:#eef9ef;

}

.benefit-card{

    background:#fff;

    border-radius:20px;

    padding:25px 20px;

     min-height:240px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;

}

.benefit-card:hover{

    transform:translateY(-10px);

    box-shadow:0 18px 40px rgba(0,0,0,.15);

}

.benefit-card img{

    width:55px;

    height:55px;

    margin-bottom:15px;

}

.benefit-card h4{

    color:#1B5E20;

    font-size:24px;

    font-weight:600;

    margin-bottom:15px;

}

.benefit-card p{

    color:#666;

    line-height:1.8;

    font-size:16px;

}

/* ===========================
   FIND YOUR CROP HERO
=========================== */

.find-hero{

    position:relative;

    min-height:100vh;

    background:url("../images/find-crop-bg.webp") center center/cover no-repeat;

    display:flex;

    align-items:center;

}

.find-overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,0.55);

}

.find-content{

    position:relative;

    z-index:2;

    color:#fff;

}

.find-content h1{

    font-size:58px;

    font-weight:800;

    margin-bottom:25px;

}

.find-content h1 span{

    color:#81C784;

}

.find-content p{

    max-width:750px;

    margin:auto;

    font-size:20px;

    line-height:1.8;

    margin-bottom:35px;

}

/* ===========================
   PREDICTION FORM
=========================== */

.prediction-section{

    padding:80px 0;

    background: #fff;;

}

.prediction-card{

    background:#fff;

    border-radius:25px;

    padding:45px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.prediction-card label{

    font-weight:600;

    color:#1B5E20;

    margin-bottom:10px;

}

.prediction-card .form-control{

    height:58px;

    border-radius:14px;

    border:1px solid #dcdcdc;

    font-size:16px;

    padding:12px 18px;

}

.prediction-card .form-control:focus{

    border-color:#43A047;

    box-shadow:0 0 0 .15rem rgba(67,160,71,.2);

}

.predict-btn{

    margin-top:20px;

    padding:16px 50px;

    border-radius:50px;

    font-size:18px;

    font-weight:600;

}

/* ===========================
   PREDICTION RESULT
=========================== */

.prediction-result{

    padding:80px 0;

    background:#eef9ef;

}

.result-card{

    max-width:800px;

    margin:auto;

    background:#F8FBF7;

    border-radius:25px;

    padding:50px;

    text-align:center;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.crop-icon{

    width:90px;

    height:90px;

    margin:auto;

    border-radius:50%;

    background:#43A047;

    color:#fff;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:38px;

    margin-bottom:25px;

}

.result-card h3{

    font-size:40px;

    color:#1B5E20;

    font-weight:700;

    margin-bottom:15px;

}

.confidence{

    display:inline-block;

    background:#E8F5E9;

    color:#2E7D32;

    padding:10px 25px;

    border-radius:30px;

    font-weight:600;

    margin-bottom:25px;

}

.result-card p{

    color:#666;

    line-height:1.8;

    margin-bottom:35px;

}

.result-details{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}

.detail-box{

    background:#fff;

    border-radius:18px;

    padding:20px;

    min-width:170px;

    box-shadow:0 8px 20px rgba(0,0,0,.06);

}

.detail-box h5{

    color:#1B5E20;

    margin-bottom:10px;

    font-weight:600;

}

.detail-box span{

    color:#43A047;

    font-weight:700;

}

/* ===========================
   PREDICTION TIPS
=========================== */

.prediction-tips{

    padding:80px 0;

    background: #fff;

}

.tip-card{

    background:#fff;

    padding:35px 25px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

    transition:.3s;

    height:100%;

}

.tip-card:hover{

    transform:translateY(-8px);

}

.tip-card i{

    width:75px;

    height:75px;

    background:#43A047;

    color:#fff;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;

    font-size:30px;

    margin-bottom:20px;

}

.tip-card h4{

    color:#1B5E20;

    font-weight:700;

    margin-bottom:15px;

}

.tip-card p{

    color:#666;

    line-height:1.8;

}

/* ===========================
   FAQ
=========================== */

.faq-section{

    padding:80px 0;

    background:#eef9ef;

}

.faq-section .accordion{

    max-width:900px;

    margin:auto;

}

.faq-section .accordion-item{

    border:none;

    margin-bottom:18px;

    border-radius:18px !important;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.faq-section .accordion-button{

    font-size:18px;

    font-weight:600;

    color:#1B5E20;

    background:#ffffff;

    padding:22px 28px;

}

.faq-section .accordion-button:not(.collapsed){

    background:#43A047;

    color:#fff;

    box-shadow:none;

}

.faq-section .accordion-button:focus{

    box-shadow:none;

}

.faq-section .accordion-body{

    padding:22px 28px;

    font-size:16px;

    line-height:1.8;

    color:#666;

    background:#ffffff;

}
